#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

.inc-exp-container {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #c4bdbd;
  border-bottom: 1px solid #c4bdbd;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list li {
  position: relative;
  padding: 5px;
  border: 1px solid #c4bdbd;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.list button {
  display: none;
  position: absolute;
  left: -25px;
}

.list li:hover button {
  display: inline-block;
}

.plus {
  color: green;
}

.minus {
  color: red;
}

.form-control {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
